# workspace
.vs/
Debug/
x64/
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Python Jupyter Notebook Checkpoints
src/Neo4jUtils/.ipynb_checkpoints/
src/Metrics/.ipynb_checkpoints/
